# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\new_scopus\new_scopus\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
